/* ------------------Inicio de Header -----------------*/

// Importacion de los estilos del header y footer 

header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;

}

.mi-navbar {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #E4E0E1;

    img {
        width: 120px;
        height: 100px;

    }

    a {
        color: black;
        text-decoration: none;
        font-size: 25px;

    }


}



/* ------------------Inicio de Footer -----------------*/

footer {
    width: 100%;
    height: 100px;
    background-color: #424242;
    padding: 0px 10px 0px 10px;
    align-items: center;
    font-size: 1.8rem;
    color: white
}

/*-----iconos de links a redes sociales de pie de pagina-------*/
footer img,
svg {
    width: 60px;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
}

/*----div class redes para modificar css en bloque-----*/
.redes {
    align-items: center;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*-------Icono de whatsapp flotante-------*/
.wp {
    position: fixed;
    bottom: 28px;
    right: 60px;
}



/* ----------------------- Fin de footer de pagina------------------------------------*/