/*----Comienzo de css mobile----*/

/*------header para mobile------ */
* {
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 480px) {

    header {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0px;

        .logo {
            width: 50px;
            height: 50px;
            margin-top: 2px;
            margin-left: 2px;

        }

        /*-------Titulo ER Estudio Roda */
        .titulo {
            width: 100%;
            height: 80px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 20px;

        }

        /* --------Menu de navegacion */
        nav {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 12px;

            /*-------Link padre de navegacion */
            ul {
                width: 90%;
                height: 90%;

                /* link hijo de navegacion */
                header a {
                    padding: 1px;
                    font-size: 13px;
                }
            }
        }

        /*------fin de header para mobile-----*/

    }



    /*----seccion home que abarca toda la pagina de inicio en un solo bloque-----*/

    .homesession {
        display: grid;
        grid-template-areas:
            "titulo1"
            "titulo2"
            "imagen1"
            "texto1"
            "titulo3"
            "cliente1"
            "cliente2"
            "cliente3"
            "cliente4"
            "cliente5";
        /*-- ancho de cada columna */
        grid-template-columns: 90%;

        /* alto de cada columna */
        grid-template-rows: 100px 40px 300px 200px 60px repeat(5, 350px);

        .homesession img {
            width: 90%;
            height: 80%;
        }

        /*-----presen hace referencia al titulo de bienvenida de la pagina-----*/
        .titulo1 {
            padding: 2px;
            font-size: 1.2rem;
        }

        .titulo2 {
            font-size: 0.8rem;
        }

        /*----- breve info del nacimiento de roda estudio -------*/
        .texto1 {
            font-size: 1rem;
            padding: 2px;


        }

        .titulo3 {
            font-size: 1rem;

        }


    }


    /* --------------------------fin de main de Home----------------------*/

    /*---------------Comienzo de seccion contenido de quienes somos 2 html de la pagina----------------------------*/

    /*------------------------------------------------------------------------------Footer---------------------*/
    footer {
        width: 100%;
        height: 100px;
        padding: 0px;
    }
    footer p {
        display: none;
    }
    /*-----iconos de links a redes sociales de pie de pagina-------*/
    footer img,
    svg {
        width: 40px;
    }

    /*----div class redes para modificar css en bloque-----*/
    .redes {
        width: 60%;
        height: 100px;
        justify-content: space-evenly;
    }

    /*-------Icono de whatsapp flotante-------*/
    .wp {
        position: fixed;
        bottom: 30px;
        right: 30px;

    }

    /* ----------------------- Fin de footer de pagina------------------------------------*/

    /*---------------Comienzo de seccion contenido de quienes somos 2 html de la pagina----------------------------*/

    .quienessomos {
        display: grid;
        grid-template-areas:

            "Daniela "
            "fotodani"
            "parrafo1"
            "familia";

        grid-template-columns: 90%;

        grid-template-rows: 150px 600px 600px 800px;

        /* acomodar el grid completo */
        justify-content: center;
        /* eje horizontal */
        justify-items: center;
        /* eje vertical */
        align-items: center;
    }

    .quienessomos img {
        width: 80%;
        height: 90%;
        padding: 10px 0px 10px 0px;

    }

    .Daniela {

        font-size: 2.5rem;
    }

    .parrafo1 {
        font-size: 1.1rem;
        padding: 15px 5px 15px 30px;
    }

    /*-------- Fin de seccion de Quienes somos----------------------------------*/

    /*--------------Inicio de Servicios----------------------------------------*/

    .servicios {
        display: grid;
        grid-template-areas:
            "cetitulo"
            "ceparrafo"
            "unioneuropea "
            "h4"
            "española "
            "italiana "
            "polaca "
            "alemana "
            "contratanos ";

        grid-template-columns: 90%;

        grid-template-rows: 150px 800px 400px 200px repeat(4, 300px) 150px;


    }

    .servicios img {
        width: 80%;
        height: 70%;

    }

    .cetitulo {
        width: 90%;
        font-size: 2.5rem;
        align-items: center;

    }

    .ceparrafo {
        width: 90%;
        height: 90%;
        padding: 10px 2px 3px 1px;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .ceparrafo h2 {
        width: 100%;
    }

    .ceparrafo ul {
        width: 90%;
        height: 90%;
        font-size: 1.1rem;
        padding: 15px 2px 13px 20px;
        line-height: normal;
        list-style: disc inside;
    }

    .ceparrafo h3 {
        width: 90%;
        padding: 6px 2px 10px 1px;

    }

    .h4 {
        font-size: 2rem;
    }

    .contratanos {
        width: 90%;
        height: 80%;
        font-size: 2rem;

    }

    /*-------------Fin de seccion de Servicios--------------------------------*/

    /*----------------Inicio de seccion Asesorias---------------------------------*/
    .asesorias {
        display: grid;
        grid-template-areas:
            "aptitulo"
            "aquienp"
            "aquienimg"
            "at "
            "analisis"
            "analisisp"
            "analisisc"
            "revision"
            "revisionp"
            "revisionc "
        ;
        grid-template-columns: 90%;

        grid-template-rows:
            200px 400px 200px 250px 150px 300px 150px 150px 300px 150px;
        /* acomodar el grid completo */
        justify-content: center;
        /* eje horizontal */
        justify-items: center;
        /* eje vertical */
        align-items: center;



    }

    .aptitulo {
        font-size: 2rem;

    }

    .aquien {
        width: 99%;
        height: 100%;
        font-size: 1.2rem;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

    }

    .aquienul {
        width: 99%;
        height: 50%;
        margin: 10px 10px 10px 10px;
        font-size: 1rem;
        justify-content: space-between;
        text-align: start;
    }

    .aquienimg {
        width: 99%;
        height: 95%;

    }

    .at {
        font-size: 1.8rem;

    }

    .analisis {
        font-size: 2rem;

    }

    .analisisp {
        font-size: 1.3rem;
    }

    .analisisc {
        height: 80%;
        font-size: 2rem;

    }

    .revision {
        font-size: 2rem;
    }

    .revisionp {
        font-size: 1.3rem;

    }

    .revisionc {
        height: 80%;
        font-size: 2rem;

    }

    /*----------------Fin de seccion Asesorias-------------------------------------*/


    /*----------------Inicio de seccion Contactos-----------------------------------*/






    /*----------------Fin de seccion de Contactos-------------------------------*/


}