/* Media query para tablets */
/* Dispositivos con un ancho entre 481px y 768px */

@media (min-width: 481px) and (max-width: 768px) {

    header {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0px;
        z-index: 10;

        .mi-navbar {
            width: 100%;
            height: 100%;
            position: sticky;
            top: 0px;
            z-index: 10;
            background-color: #E4E0E1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            img {
                width: 80px;
                height: 70px;

            }

            a {
                color: black;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;

            }

        }

    }


    /*------fin de header para tables-----*/



    /*-----------------Main de la pagina-----------------------*/

    /*----seccion home que abarca toda la pagina de inicio en un solo bloque-----*/

    .homesession {
        display: grid;
        grid-template-areas:
            "animate__animated"
            "titulo2"
            "imagen1"
            "texto1"
            "titulo3"
            "cliente1"
            "cliente2"
            "cliente3"
            "cliente4"
            "cliente5";
        /*-- ancho de cada columna */
        grid-template-columns: 90%;

        /* alto de cada columna */
        grid-template-rows: 200px 60px 400px 380px 60px repeat(5, 350px);

        .homesession img {
            width: 100%;
            height: 100%;
        }

        /*-----presen hace referencia al titulo de bienvenida de la pagina-----*/
        .animate__animated {
            padding: 2px;
            font-size: 25px;
        }

        .titulo2 {
            display: flex;
            width: 100%;
            height: 30px;
            font-size: 15px;
        }

        /*----- breve info del nacimiento de roda estudio -------*/
        .texto1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            padding: 2px;

        }

        .titulo3 {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 15px;

        }

    }

    /* --------------------------fin de main de Home----------------------*/
    /*---------------Comienzo de seccion contenido de quienes somos 2 html de la pagina----------------------------*/

    .quienessomos {
        display: grid;
        grid-template-areas:
            "Daniela "
            "fotodani"
            "parrafo1"
            "familia";

        grid-template-columns: 90%;

        grid-template-rows: 150px 600px 600px 800px;

        /* acomodar el grid completo */
        justify-content: center;
        /* eje horizontal */
        justify-items: center;
        /* eje vertical */
        align-items: center;

        .fotodani {
            width: 90%;
            height: 80%;

        }

        .familia {
            width: 90%;
            height: 80%;

        }

        .Daniela {
            font-size: 2.7rem;
        }

        .parrafo1 {
            width: 100%;
            height: 100%;
            font-size: 20px;
            padding: 15px 5px 15px 30px;
        }


    }


    /*-------- Fin de seccion de Quienes somos----------------------------------*/

    /*--------------Inicio de Servicios----------------------------------------*/

    .servicios {
        display: grid;
        grid-template-areas:
            "cetitulo"
            "ceparrafo"
            "unioneuropea "
            "h4"
            "española "
            "italiana "
            "polaca "
            "alemana "
            "contratanos ";

        grid-template-columns: 90%;

        grid-template-rows: 150px 800px 400px 200px repeat(4, 400px) 200px;

        .servicios img {
            width: 80%;
            height: 70%;

        }

        .cetitulo {
            width: 90%;
            font-size: 2.7rem;
            align-items: center;

        }

        .ceparrafo {
            width: 90%;
            height: 100%;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

        }

        .ceparrafo h2 {
            width: 100%;
            font-size: 1.3rem;
        }

        .ceparrafo ul {
            width: 90%;
            height: 90%;
            font-size: 1rem;
            padding: 10px 2px 5px 17px;
            line-height: normal;
            list-style: disc inside;
            text-align: left;

            .li {
                text-align: left;
                font-size: 1rem;

            }
        }

        .ceparrafo h3 {
            width: 90%;
            padding: 6px 2px 10px 1px;
            font-size: 1.2rem;

        }

        .h4 {
            font-size: 2rem;
        }

        .contratanos {
            width: 90%;
            height: 80%;
            font-size: 2rem;

        }


    }



    /*-------------Fin de seccion de Servicios--------------------------------*/

    /*----------------Inicio de seccion Asesorias---------------------------------*/
    .asesorias {
        display: grid;
        grid-template-areas:
            "aptitulo"
            "aquienp"
            "aquienul"
            "aquienimg"
            "at "
            "analisis"
            "analisisp"
            "analisisc"
            "revision"
            "revisionp"
            "revisionc "
        ;
        grid-template-columns: 90%;

        grid-template-rows:
            200px 150px 400px 200px 250px 150px 300px 150px 150px 300px 150px;
        /* acomodar el grid completo */
        justify-content: center;
        /* eje horizontal */
        justify-items: center;
        /* eje vertical */
        align-items: center;

        .aptitulo {
            font-size: 2.5rem;

        }

        .aquien {
            width: 100%;
            height: 100%;
            font-size: 25px;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;

        }

        .aquienul {
            grid-area: aquienul;
            width: 100%;
            height: 100%;
            margin: 10px 10px 10px 10px;
            font-size: 18px;
            justify-content: space-around;
            text-align: start;
        }

        .aquienimg {
            width: 100%;
            height: 100%;

        }

        .at {
            width: 90%;
            height: 90%;
            font-size: 1.8rem;

        }

        .analisis {
            font-size: 1.4rem;

        }

        .analisisp {
            font-size: 20px;
        }

        .analisisc {
            height: 80%;
            font-size: 1.3rem;

        }

        .revision {
            width: 90%;
            height: 90%;
            font-size: 1.4rem;

        }

        .revisionp {
            font-size: 20px;

        }

        .revisionc {
            height: 80%;
            font-size: 1.3rem;

        }

    }


    /*----------------Fin de seccion Asesorias-------------------------------------*/


    /*----------------Inicio de seccion Contactos-----------------------------------*/

    .contactos {
        display: grid;
        grid-template-areas:
            "solicita"
            "ayudarte"
            "imagenform"
            "formulario";

        grid-template-columns: 90%;

        grid-template-rows: 300px 100px 500px 700px;

        /* acomodar el grid completo */
        justify-content: center;
        /* eje horizontal */
        justify-items: center;
        /* eje vertical */
        align-items: center;
        background-image: url(../imagenes/banner.jpg);
        background-size: cover;
        background-position: center;

        .solicita {
            width: 100%;
            height: 90%;
            text-decoration: underline solid;
            grid-area: solicita;
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            text-shadow: 3px 5px 2px #f5f8f8;

        }

        .ayudarte {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
            text-align: start;
            padding: 10px 10px 10px 10px;
            grid-area: ayudarte;
        }

        .imagenform {
            width: 100%;
            height: 90%;
            padding: 0px 0px 30px 0px;

            grid-area: imagenform;
        }

        .formulario {
            width: 90%;
            height: 80%;
            font-size: 1.2rem;
            text-align: left;
            grid-area: formulario;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            input {
                width: 100%;
                height: 30px;
                font-size: 15px;
                margin-bottom: 5px;
            }

            textarea {
                width: 100%;
                height: 150px;
                font-size: 1rem;
                margin-bottom: 10px;
            }



        }

    }


    /*----------------Fin de seccion de Contactos-------------------------------*/
    /*------------------------------------------------------------------------------Footer---------------------*/
    footer {
        width: 100%;
        height: 100px;
        padding: 0px;
    }

    footer p {
        display: none;
    }

    /*-----iconos de links a redes sociales de pie de pagina-------*/
    footer img,
    svg {
        width: 40px;
    }

    /*----div class redes para modificar css en bloque-----*/
    .redes {
        width: 60%;
        height: 100px;
        justify-content: space-evenly;
    }

    /*-------Icono de whatsapp flotante-------*/
    .wp {
        width: 40px;
        position: fixed;
        bottom: 30px;
        right: 30px;

    }

    /* ----------------------- Fin de footer de pagina------------------------------------*/


}